@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  .bg-steel {
    background-color: #D44C5B;
  }

  .alert-warning{
    color:#b6a306;
    background-color: #ffffb0;
    border-color: #f3f325;
  }
  .site-header .navbar-nav .nav-link {
    font-family: 'Bree Serif', serif;
    color: white;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #444444;
  }
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    border-bottom-style: solid;
    border-bottom-color: black;
    transition-delay: 1s;
    color: #444444;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  .out{
    position:relative; 
    height:800px; 
    width:1000px;
  }
  .in{
    height:600px; 
    width:700px; 
    padding:5px;
  }
  .in h{
    font-weight: bold;
  }
  .tab{
    position:absolute; 
    left:800px; 
    top:120px; 
    padding:8px; 
    height:500px; 
    width:400px;
  }
  .tab_1 td, .tab_1 th , .tab_1 tr{
    padding:8px; 
    border: 1px dashed black;
  }
  .pie{
    margin-bottom:50px;  
    padding:50px; 
    border-style:dashed; 
    border-radius:20px;
  }
  .bar{
    margin-top:50px;
    margin-bottom:50px;
    padding :20px; 
    height:500px; 
    width: 1000px; 
    border-style:dashed; 
    border-radius:20px;
  }
  .line{
    margin-top:100px; 
    margin-bottom:150px; 
    padding :20px; 
    height:550px; 
    width: 1000px;
    border-style:dashed;
    border-radius:20px;
  }
  .upload{
    margin-bottom:50px;
  }
  .badge-soft-success {
    background-color: rgba(75,191,115,.175);
    color: #4bbf73;
}
.badge-soft-danger {
  background-color: rgba(217, 83, 79, 0.176);
  color: rgb(217, 83, 79);
}
.me-2 {
  margin-right: .5rem;
}
.mb-2 {
  margin-bottom: .5rem;
}
.text-muted {
  color: #737d85;
}
.align-items-start {
  align-items: flex-start;
}

.d-flex {
  display: flex;
}
.py-4 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 0.75rem;
}
.stat {
  width: 48px;
  height: 48px;
  background: rgb(224, 234, 252);
  border-radius: 50%;
  padding: 0.75rem;
}
.row {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)*-1);
  margin-right: calc(var(--bs-gutter-x)/-2);
  margin-left: calc(var(--bs-gutter-x)/-2);
}
.ms-3 {
  margin-left: 1rem;
}

.d-inline-block {
  display: inline-block;
}
*, :after, :before {
  box-sizing: border-box;
}