{% extends 'layouts.html'%}
    {% block content%}
        {% for post in posts%}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username.title() }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" style="font-family: 'IBM Plex Sans', sans-serif;">{{ post.title }}</a></h2>
            <p class="article-content" style="font-family: 'ABeeZee', sans-serif;">{{ post.content }}</p>
          </div>
        </article>
        {% endfor %}
        <form class="" action="data" method="POST">
          <input type="file" name="csvfile" value="">
          <input type="submit" name="" value="Submit">
        </form>
        {% if data %}
          {% for i in data%}
            {% for j in range(1,4) %}
              {% if j == 1 %}
                <h4>{{ i[j] }}</h4>
              {% else %}
                <h6>{{ i[j] }}</h6>
              {% endif %}
            {% endfor %}
            <br>
          {% endfor %}
        {% endif  %}
    {% endblock content%}