{% extends 'layouts.html'%}
    {% block content%}
        {% for post in posts%}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username.title() }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" style="font-family: 'IBM Plex Sans', sans-serif;">{{ post.title }}</a></h2>
            <p class="article-content" style="font-family: 'ABeeZee', sans-serif;">{{ post.content }}</p>
          </div>
        </article>
        {% endfor %}
        <div class="content-section">
        <form  method="POST" enctype="multipart/form-data">
            <fieldset class="form-group mb-2">
                <div class="form-group">
                        {{ form.file(class="form-control form-control-lg") }}
                </div>
                 <div class="form-group">
                    {{ form.type_of_file.label(class="form-control-label") }}
                    {% if form.type_of_file.errors %}
                        {{ form.type_of_file(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.type_of_file.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.type_of_file(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.month.label(class="form-control-label") }}
                    {% if form.month.errors %}
                        {{ form.month(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.month.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.month(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.year.label(class="form-control-label") }}
                    {% if form.year.errors %}
                        {{ form.year(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
        </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% if exp %}
          {% if d%}
          <div class="row">
          {%for k in d%}
          {%for i in d[k] %}
						<div class="col-12 col-sm-6 col-xxl d-flex">
							<div class="card flex-fill">
								<div class="card-body py-4">
									<div class="d-flex align-items-start">
										<div class="flex-grow-1">
                      <h class="mb-2">{{k}}</h>
											<h3 class="mb-2">{{i[0]}}</h3>
											<p class="mb-2">{{i[1]}}</p>
											<div class="mb-0">
												<span class="badge badge-soft-{{i[3]}} me-2"> <i class="mdi mdi-arrow-bottom-right"></i>{{i[2]}}</span>
												<span class="text-muted">{{i[4]}}</span>
											</div>
										</div>
										<div class="d-inline-block ms-3">
											<div class="stat">
												<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 226 226" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,226v-226h226v226z" fill="none"></path><g fill="#df0e62"><path d="M135.487,47.08333h28.12758l5.88542,-18.83333h-107.11458l-5.88542,18.83333h37.66667c14.47342,0 26.63033,9.38842 31.06558,22.36458h-62.84683l-5.88542,18.83333h69.45733c-3.6725,14.19092 -16.45092,24.71875 -31.79067,24.71875h-37.66667v14.464l69.44792,70.286h24.71875v-2.35417l-65.91667,-65.91667c5.78183,0 12.64658,0 14.125,0c24.48333,0 44.66325,-17.83517 48.60883,-41.19792h16.13075l5.88542,-18.83333h-22.39283c-1.85508,-8.51267 -5.99842,-16.11192 -11.62017,-22.36458z"></path></g></g></svg>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
            {%endfor%}
            {%endfor%}
					</div>
          {%endif%}
    <div class="out">
    <div class="in"><h4>{{u[1]}}</h4><canvas class="pie" id="myChart_s_3"></canvas></div>
    <div class="tab">
        {% set l = labels.split(',') %}
          <table class="tab_1">
          {%for i in range(exp|length)%}
            {%if u[i]=="Category"%}
              <tr>
                <th>{{u[i]}}</th>
                <th>{{u[i+1]}}</th>
              </tr>
            {%elif u[i]=="category"%}
              <tr>
                <th>{{u[i]}}</th>
                <th>{{u[i+1]}}</th>
              </tr>
            {%else%}
              <tr>
                <td>{{l[i]}}</td>
                <td>{{exp[i]}}</td>
              </tr>
            {%endif%}
          {%endfor%}
          </table>
        </div>
    </div>
        <script>
          var j='{{labels}}'
          var lab= j.split(',')
          function calculatePoint(i, intervalSize, colorRangeInfo) {
            var { colorStart, colorEnd, useEndAsStart } = colorRangeInfo;
            return (useEndAsStart
              ? (colorEnd - (i * intervalSize)): (colorStart + (i * intervalSize)));
          }
          function interpolateColors(dataLength,colorRangeInfo) {
            var { colorStart, colorEnd } = colorRangeInfo;
            var colorRange = colorEnd - colorStart;
            var intervalSize = colorRange / dataLength;
            var i, colorPoint;
            var colorArray = [];
            for (i = 0; i < dataLength; i++) {
            colorPoint = calculatePoint(i, intervalSize, colorRangeInfo);
            colorArray.push(d3.interpolateSpectral(colorPoint));
            }
            return colorArray;
          }  
          const colorRangeInfo = {
            colorStart: 0,
            colorEnd: 1,
            useEndAsStart: false,
          }
          var myData={{exp}}
          var COLORS = interpolateColors(myData.length,colorRangeInfo);
          const data = {
            labels: lab,
            datasets: [{
              label: 'My First Dataset',
              data: {{exp}},
              backgroundColor: COLORS,
              hoverBackgroundColor: COLORS,
              hoverOffset: 4
            }]
          };
          const config = {
            type: 'pie',
            data: data,
          };
          var myChart = new Chart(
            document.getElementById('myChart_s_3'),
            config
          );
        </script>

        <div class="out">
        <div class="in" ><h4>{{u[2]}}</h4><canvas class="pie" id="myChart1_s_3"></canvas></div>
        <div class="tab">
        {% set l = labels.split(',') %}
          <table class="tab_1">
          {%for i in range(exp|length)%}
            {%if u[i]=="Category"%}
              <tr>
                <th>{{u[i]}}</th>
                <th>{{u[i+2]}}</th>
              </tr>
            {%elif u[i]=="category"%}
              <tr>
                <th>{{u[i]}}</th>
                <th>{{u[i+2]}}</th>
              </tr>
            {%else%}
              <tr>
                <td>{{l[i]}}</td>
                 <td>{{rev[i]}}</td>
              </tr>
            {%endif%}
          {%endfor%}
          </table>
        </div>
        </div>
        <script>
        var myData_1={{rev}}
          var COLORS_1 = interpolateColors(myData_1.length,colorRangeInfo);
          const data_1 = {
            labels: lab,
            datasets: [{
              label: 'My First Dataset',
              data: {{rev}},
              backgroundColor: COLORS_1,
              hoverBackgroundColor: COLORS_1,
              hoverOffset: 4
            }]
          };
          const config_1 = {
            type: 'pie',
            data: data_1,
          };
          var myChart_1 = new Chart(
            document.getElementById('myChart1_s_3'),
            config_1
          );
        </script>
      

        <div class="bar">
        <canvas id="barchart_s_3"></canvas>
        </div>
        <script>
          function clr(l,len){
            var a=[];
            for(var i=0;i<len;i++){
              a.push(l)
            }
            return a
          }
          const data1 = {
            labels: lab,
            datasets: [{
              label: 'Expenses',
              data: {{exp}},
              backgroundColor: clr('rgba(255, 99, 132, 0.2)',{{exp}}.length),
              borderColor: clr('rgb(255, 99, 132)',{{exp}}.length),
              borderWidth: 1
            },{
              label: 'Revenue',
              data: {{rev}},
              backgroundColor: clr('rgba(54, 162, 235, 0.2)',{{rev}}.length),
              borderColor: clr('rgb(54, 162, 235)',{{rev}}.length),
              borderWidth: 1
            }]
          };
          const config1 = {
            type: 'bar',
            data: data1,
            options: {
              scales: {
                x: {
                  stacked: true
                },
                y: {
                  stacked: true
                }
              }
            }
          };
          var myChart = new Chart(document.getElementById('barchart_s_3'),config1);
        </script>
    {% endif %}
    {% endblock content%}